</br>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <% if @my_entries.present? %>
      <span class="section-title">MY ENTRIES</span>
      <div class="entries-wrapper">
        <div class="entry">
          <% @my_entries.each do |entry| %>
            <div class="team-title">
              <div class="team">
                </br>
                <%= get_hackathon_by_id(entry.hackathon_id) %>
              </div>
              <div class="title">
                </br>
                <%= link_to entry_path(entry) do %>
                  <%= entry.title %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <p>You have no entries.</p>
    <% end %>
  </body>
</html>