      
      </br></br></br></br>
      <%= link_to root_path do %>
        <%= image_tag("ERROR404.png") %>
      <% end %>
      </br></br></br></br>
      <p>This page does not exist. Please go back.</p>
